{% extends "BibliotecaVirtual/padre.html" %}
{% load static %}
{% block contenidoQueCambia %}

    <h1>Libros</h1>
    <ul>
        {% for libro in object_list %}
            <li>
                <p>NOMBRE {{ libro.nombre }}</p>
                <p>
                    <a href="{% url 'Detail' libro.id  %}">Ver</a>
                    <a href="{% url 'Edit' libro.id  %}">Editar</a>
                    <a href="{% url 'Delete' libro.id  %}">Borrar</a>
                </p>
            </li>
        {% endfor %}
    </ul>
    
{% endblock %}